<ul class="titles">
  {{#each children as |tab|}}
    <li class={{if tab.isActive 'is-active'}} {{action 'select' tab}}>{{tab.title}}</li>
  {{/each}}
</ul>
<div class="contents">
  {{yield (hash
    tab=(component 'ea-tab' parent=this)
  )}}
</div>