{{#ea-tabs as |ea|}}
  {{#ea.tab title='Hello'}}
    <em>Hello world!</em>
  {{/ea.tab}}
  {{#ea.tab title='Goodbye'}}
    <em>Goodbye cruel world!</em>
  {{/ea.tab}}
  {{#ea.tab title='Sailor Moon'}}
    <em>Neo-Crystal</em>
  {{/ea.tab}}
{{/ea-tabs}}

<h2>Default selection</h2>

{{#ea-tabs as |ea|}}
  {{#ea.tab title='Foo'}}
    SNAFU
  {{/ea.tab}}
  {{#ea.tab title='Bar' active=true}}
    Barbarbar
  {{/ea.tab}}
  {{#ea.tab title='Booze' active=true}}
    Glugglug
  {{/ea.tab}}
{{/ea-tabs}}
