{{#ea-tabs as |ea|}}
  {{#ea.tab title='Hello'}}
    <h1>Hello world!</h1>
  {{/ea.tab}}
  {{#ea.tab title='Goodbye'}}
    <h1>Goodbye cruel world!</h1>
  {{/ea.tab}}
  {{#ea.tab title='Sailor Moon'}}
    <h1>Neo-Crystal</h1>
  {{/ea.tab}}
{{/ea-tabs}}